h1 {
    font-size: 36px;
    text-align: center;
}
.outfit-head {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}
.outfit-p {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}
.fcc-font {
    font-family: 'Fira Code', monospace;
}

.scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}